@font-face{
  font-family: 'BadaBoom BB';
  src: url('/public/font/BADABB__.TTF')
}

.primary-font{
  font-family: 'BadaBoom BB', Arial, Helvetica, sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.primary-bg{ background-color: #864AF9; }

.center-x{ justify-content: center; }
/* .center-x{ margin-left: auto; margin-right: auto; } */